@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
	width: 1020px;
	margin: 0 auto;
	font-family: "Lato",sans-serif;
}


header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1020px;
	height: 89px;
	padding: 0 40px;
	color: #fff;
	background:#2d303a;
	box-sizing: border-box;
	box-shadow: 0 6px 0 0 #323746;
}
h1{
	font-size: 25px;
	font-weight: 700;
	line-height: 6px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	text-align: left;
}
h1 span{
	color:#f06c64;
}
ul{
	padding: 0;
}
.menu{
	margin-top:5px;
}
.menu ul{
	margin-left: 15px;
	display: flex;
	flex-direction: row;
}

.menu li:not(:last-child){
	margin-right: 26.5px;
}
.menu li:not(:first-child):before{
	content:'.';
	position: relative;
	right: 12px;
	bottom: 3px;
	font-size: 10px;	
}
li{
	list-style: none;
}
.menu a{
	font-size: 12px;
	font-weight: lighter;
	text-decoration: none;
	color: #fff;
}
.menu li:hover a{
	color: #f06c64;
}
.menu li:active a{
	color: #f06c64;
}




main{
	width: 1020px;
	margin-top: 6px;
}
.sliders{
	position: relative;
	display: flex;
	padding: 0px;
}
.prew{
	position: absolute;
	bottom: 290px;
	left: 45px;
	width: 17px;
	height: 17px;
	font-size: 24px;
	border-left: 4px solid rgba(0,0,0, 0.2);
	border-bottom: 4px solid rgba(0,0,0, 0.2);
	transform: rotate(45deg);
	cursor: pointer;
}
.next{
	position: absolute;
	bottom: 290px;
	right: 42px;
	width: 17px;
	height: 17px;
	font-size: 24px;
	border-right: 4px solid rgba(0,0,0, 0.2);
	border-bottom: 4px solid rgba(0,0,0, 0.2);
	transform: rotate(-45deg);
	cursor: pointer;
}
.sliders span:hover {
	border-color: rgba(0,0,0, 0.7);
}
.slider{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 594px;
	width: 100%;
	padding: 0 115px;
	background: #f06c64;
	box-shadow: 0 5px 0 0 #ea676b;
}
.slider_image_box{
	position: relative;
	background: #f2f2f2;
	border-radius: 27px;
	box-shadow: 25px 25px 0 0 rgba(0,0,0,0.2);
	box-sizing: border-box; 
}
.slider_image_box:first-child{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 214px;
	height: 460px;
	padding: 18px 12px 10px;
	top: -15px;
	right: 2px;
}
.slider_image_box:last-child{
	top: -15px;
	right: 21px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 460px;
	height: 215px;
	padding: 12px 18px 12px 7px;
}


.cam{
	width: 4px;
	height: 4px;
	background: #eb5055;
	border:3px solid #d8d8d8;
	border-radius: 50%;
}
.speaker{
	
	border-radius: 3px;
	background: #acacac;
}
.slider_image_box:first-child .speaker{
	width:36px;
	height: 5px;
	margin-top: 3.7px;
}
.slider_image_box:last-child .speaker{
	width: 5px;
	height: 36px;
	margin-right: 3.7px;
}
.screen{
	border: 3px solid #c6c6c6;
}
.slider_image_box:first-child .screen{
	width: 188px;
	height: 333px;
	margin-top: 16px;
}
.slider_image_box:last-child .screen{
	width: 333px;
	height: 188px;
	margin-right: 15px;
}
.screen div{
	width: 100%;
	height: 100%;
}
.slider_image_box:last-child .screen div{
	background: #fff url("screen1.jpg") no-repeat 49.5% 30%;
}
.slider_image_box:first-child .screen div{
	background: #fff url("screen2.jpg") no-repeat 3.5% 55%;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #fafafa;
}

.btn div{
	width: 14px;
	height: 14px;
	border:1.2px solid #bababa;
	border-radius: 4px;
}



.services{
	height: 501px;
	margin-top: 5px;
	padding: 40px;
	background: #f2f2f2;
	box-sizing: border-box;
	border-bottom: 6px solid #ffffff;
}
.list{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 12px;
}
.list li{
	margin: 29px 0 6px;
}
h3{
	margin-bottom: 25px;
	font-size: 29px;
	font-weight: 900;
	line-height: 18px;
	color: #666d89;
	text-transform: capitalize;
	text-align: left;
}
.txt-about{ 
	margin-top:27.5px;
	font-size: 17px;
	font-weight: 300;
	line-height: 31.5px;
	color: #767e9e;
	word-spacing:2.7px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list li{
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 88px;
	overflow: hidden;
}
h4{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: #666d89;
	color: #666d89;
	
}
.list span {
	width: 55.5px;
	height: 55.5px;
	margin-top: 4px;
	border: 2px solid #666d89;
	border-radius: 50%;
}
.list li:nth-child(1) span{
	background: url('icons.png') no-repeat 5px 10px;
}
.list li:nth-child(2) span{
	background: url('icons.png') no-repeat -62px 6px;
}
.list li:nth-child(3) span{
	background: url('icons.png') no-repeat -139px 6px;
}
.list li:nth-child(4) span{
	background: url('icons.png') no-repeat 5px -60px;
}
.list li:nth-child(5) span{
	background: url('icons.png') no-repeat -72px -60px;
}
.list li:nth-child(6) span{
	background: url('icons.png') no-repeat -143px -55px;
}
.list div{
	width: 220px;
}
.list p{
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 21px;
	text-align: justify;
	margin-top: 10px;
	color: #767e9e;
}