@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	width: 1020px;
	margin: 0 auto;
	font-family: "Lato",sans-serif;
}


header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1020px;
	height: 89px;
	padding: 0 40px;
	color: #fff;
	background:#2d303a;
	position: fixed;
	box-sizing: border-box;
	box-shadow: 0 6px 0 0 #323746;
	z-index: 99;
	transition: height 0.3s;
}
h1{
	font-size: 25px;
	font-weight: 700;
	line-height: 6px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	text-align: left;
}
h1 span{
	color:#f06c64;
}
nav ul{
	padding: 0;
}
.menu{
	margin-top:5px;
}
.menu ul{
	margin-left: 15px;
	display: flex;
	flex-direction: row;
}

.menu li:not(:last-child){
	margin-right: 26.5px;
}
.menu li:not(:first-child):before{
	content:'.';
	position: relative;
	right: 12px;
	bottom: 3px;
	font-size: 10px;	
}
li{
	list-style: none;
}
.menu a{
	font-size: 12px;
	font-weight: lighter;
	text-decoration: none;
	color: #fff;
}
.menu li:hover a{
	color: #f06c64;
}
.menu  a.active{
	color: #f06c64;
}
.small-header{
	height: 40px;
}



main{
	width: 1020px;
	padding-top: 95px;
}
.sliders{
	position: relative;
	display: flex;
	overflow: hidden;
	padding: 0px;
}
.slider-wrapper{
	display: flex;
	width: 2040px;
	height: 594px;
	position: relative;
	border-bottom: 6px solid #ea676b;

}
.slider_two {
  background-color: #648bf0;
  border-bottom: 6px solid #647bf0;
}
.prew{
	position: absolute;
	bottom: 290px;
	left: 45px;
	width: 17px;
	height: 17px;
	font-size: 24px;
	border-left: 4px solid rgba(0,0,0, 0.2);
	border-bottom: 4px solid rgba(0,0,0, 0.2);
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 999;
}
.next{
	position: absolute;
	bottom: 290px;
	left: 957px;
	width: 17px;
	height: 17px;
	font-size: 24px;
	border-right: 4px solid rgba(0,0,0, 0.2);
	border-bottom: 4px solid rgba(0,0,0, 0.2);
	transform: rotate(-45deg);
	cursor: pointer;
	z-index: 999;
}
.sliders span:hover {
	border-color: rgba(0,0,0, 0.7);
}
.slider{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 594px;
	width:1020px;
	padding: 0 115px;
	
	box-sizing: border-box;
	position: absolute;
	transition: background-color 1s, border-color 1s;
}
/*.slide-active,
.slide-next{
	display: flex;
}*/
section.slide-hidden{
	visibility: hidden;
}
section.slider-right {
  visibility: visible !important;
  -webkit-animation-name: slideright;
  animation-name: slideright;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes slideright {
  0% {
    transform: translateX(-125%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translateX(-125%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.slider-right-gone {
  visibility: visible !important;
  -webkit-animation-name: sliderightgone;
  animation-name: sliderightgone;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes sliderightgone {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(125%);
  }
}

@-webkit-keyframes sliderightgone {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(125%);
  }
}

section.slider-left {
  visibility: visible !important;
  -webkit-animation-name: slideleft;
  animation-name: slideleft;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes slideleft {
  0% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: translateX(125%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.slider-left-gone {
  visibility: visible !important;
  -webkit-animation-name: slideleftgone;
  animation-name: slideleftgone;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes slideleftgone {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-125%);
  }
}

@-webkit-keyframes slideleftgone {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-125%);
  }
}
.first-slide{
	justify-content: space-between;
	background: #f06c64;
	width: 1020px;
}

.last-slide{
	justify-content: center;
	background: #648bf0;
	width: 1020px;
}
.slider_image_box{
	position: relative;
	background: #f2f2f2;
	border-radius: 27px;
	box-shadow: 25px 25px 0 0 rgba(0,0,0,0.2);
	box-sizing: border-box; 
}
.first-slide .slider_image_box:first-child{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 214px;
	height: 460px;
	padding: 18px 12px 10px;
	top: -15px;
	right: 2px;
}

.first-slide .slider_image_box:last-child{
	top: -15px;
	right: 21px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 460px;
	height: 215px;
	padding: 12px 18px 12px 7px;
}
.last-slide .slider_image_box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 214px;
	height: 460px;
	padding: 18px 12px 10px;
	top: -15px;
	right: 2px;
}
.last-slide .slider_image_box:not(:nth-child(2)){
	transform: scale(0.65);
	background-color: rgba(165,179,219,0.6);
}
.last-slide .slider_image_box:not(:nth-child(2)) .cam{
	border-color: rgba(165,179,219,0.6);
}
.last-slide .slider_image_box:not(:nth-child(2)) .cam{
	border-color: rgba(165,179,219,0.6);
}
.last-slide .slider_image_box:first-child{
	position: relative;
	left:40px;
}
.last-slide .slider_image_box:last-child{
	position: relative;
	right: 40px;
}
.last-slide .speaker{
	width:36px;
	height: 5px;
	margin-top: 3.7px;
}
.last-slide .screen{
	width: 188px;
	height: 333px;
	margin-top: 16px;
}
.cam{
	width: 4px;
	height: 4px;
	background: #eb5055;
	border:3px solid #d8d8d8;
	border-radius: 50%;
}
.speaker{
	border-radius: 3px;
	background: #acacac;
}
.first-slide .slider_image_box:first-child .speaker{
	width:36px;
	height: 5px;
	margin-top: 3.7px;
}
.first-slide .slider_image_box:last-child .speaker{
	width: 5px;
	height: 36px;
	margin-right: 3.7px;
}
.first-slide .screen{
	border: 3px solid #c6c6c6;
}
.last-slide .screen{
	border: 3px solid #c6c6c6;
}
.first-slide .slider_image_box:first-child .screen{
	width: 188px;
	height: 333px;
	margin-top: 16px;
}
.first-slide .slider_image_box:last-child .screen{
	width: 333px;
	height: 188px;
	margin-right: 15px;
}
.first-slide .screen div{
	width: 100%;
	height: 100%;
}
.last-slide .screen div{
	width: 100%;
	height: 100%;
}
.screen div.sleep{
	filter: brightness(0);

}
.first-slide .slider_image_box:last-child .screen div{
	background: #fff url("assets/screen1.jpg") no-repeat 49.5% 30%;
}
.first-slide .slider_image_box:first-child .screen div{
	background: #fff url("assets/screen2.jpg") no-repeat 3.5% 55%;
}
.last-slide .slider_image_box .screen div{
	background: #fff url("assets/screen3.png") no-repeat 50% 50%;
}
.last-slide .slider_image_box:not(:nth-child(2)) .screen div{
	background: #fff url("assets/screen2.jpg") no-repeat 49.5% 30%;
	filter: hue-rotate(15deg) opacity(75%);
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #fafafa;
}
.last-slide .slider_image_box:not(:nth-child(2)) .btn{
	background: rgba(205,212,233,0.6);
}

.btn div{
	width: 14px;
	height: 14px;
	border:1.2px solid #bababa;
	border-radius: 4px;
}
.last-slide .slider_image_box:not(:nth-child(2)) .btn div{
	border-color: #858282;
}

.services{
	height: 501px;
	margin-top: 5px;
	padding: 40px;
	background: #f2f2f2;
	box-sizing: border-box;
	border-bottom: 6px solid #ffffff;
	scroll-margin-top: 39px;
}
.list{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 12px;
}
.box-services{
	margin: 29px 0 6px;
}
.services h3{
	margin-bottom: 25px;
	font-size: 29px;
	font-weight: 900;
	line-height: 18px;
	color: #666d89;
	text-transform: capitalize;
	text-align: left;
}
.txt-about{ 
	margin-top:27.5px;
	margin-bottom: 12px;
	font-size: 17px;
	font-weight: 300;
	line-height: 31.5px;
	color: #767e9e;
	word-spacing:2.7px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.box-services{
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 88px;
	overflow: hidden;
}
.container h4{
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 18px;
	font-weight: #666d89;
	color: #666d89;
	
}
.picture {
	width: 55.5px;
	height: 55.5px;
	margin-top: 4px;
	border: 2px solid #666d89;
	border-radius: 50%;
}
.box-services:nth-child(1) .picture{
	background: url('assets/icons.png') no-repeat 5px 10px;
}
.box-services:nth-child(2) .picture{
	background: url('assets/icons.png') no-repeat -62px 6px;
}
.box-services:nth-child(3) .picture{
	background: url('assets/icons.png') no-repeat -139px 6px;
}
.box-services:nth-child(4) .picture{
	background: url('assets/icons.png') no-repeat 5px -60px;
}
.box-services:nth-child(5) .picture{
	background: url('assets/icons.png') no-repeat -72px -60px;
}
.box-services:nth-child(6) .picture{
	background: url('assets/icons.png') no-repeat -143px -55px;
}
.box-services div{
	width: 220px;
}
.box-services p{
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 21px;
	text-align: justify;
	margin-top: 10px;
	color: #767e9e;
}
.portfolio{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 60px 35px;
	height: 744px;
	background: #2d303a;
	border-bottom: 6px solid #323746;
	scroll-margin-top: 39px;
}

.portfolio h3{
	font-size: 30px;
	font-weight: 900;
	line-height: 18px;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 27px; 
	color: #666d89;
}
.portfolio p{
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 11px;
	margin-left: 5px;
	color: #767e9e;
}
.portfolio-nav{
	display: flex;
	justify-content: flex-start;
	margin-left: 5px;
}
.portfolio-nav span{
	font-size: 12px;
	font-weight: 400;
	line-height: 19px;
	color: #767e9e;
	padding: 0 7px;
	border: 1px solid #666d89;
	border-radius: 5px;
	cursor: pointer;
}
.portfolio-nav span:not(:last-child){
	margin-right: 10px;
}
.portfolio-nav span:hover{
	color: #fff;
	border-color: #fff;

}
.portfolio-nav span.active{
	color: #fff;
	border-color: #fff;
}
.box-section{
	display: grid;
	grid-template-rows: 188px 188px 188px;
	grid-template-columns: 220px 220px 220px 220px;
	grid-gap: 19.5px;
	margin-top: 13px;
	padding: 5px;
	overflow: hidden;
}
.box-section img{
	background:#464b5e; 
	width: 222px;
	height: 188px;
}
.work1{
	grid-row: 1;
	grid-column: 1;
}
.work2 {
	grid-row: 2;
	grid-column: 1;
}
.work3 {
	grid-row: 3;
	grid-column: 1;
}
.work4 {
	grid-row: 3;
	grid-column: 3;
}
.work5 {
	grid-row: 1;
	grid-column: 2;
}
.work6 {
	grid-row: 2;
	grid-column: 3;
}
.work7 {
	grid-row: 3;
	grid-column: 2;
}
.work8 {
	grid-row: 2;
	grid-column: 2;
}
.work9 {
	grid-row: 1;
	grid-column: 3;
}
.work10 {
	grid-row: 1;
	grid-column: 4;
}
.work11 {
	grid-row: 2;
	grid-column: 4;
}
.work12 {
	grid-row: 3;
	grid-column: 4;
}
.box-section img.active{
	box-shadow: 0 0 0 5px #f06c64;
}
.about{
	display: flex;
	flex-direction: column;
	height: 628px;
	padding: 50px 40px;
	background: #f2f2f2;
	border-bottom: 5px solid #fff;
	scroll-margin-top: 39px;
}
.about h3{
	font-size: 30px;
	font-weight: 900;
	color:#767e9e;
	margin-top: 9px;
	margin-bottom: 6px;
}
.about p{
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		margin-top: 10px;
		color: #767e9e;
}
.team{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 19.5px;
	margin-top: 28px;
}
.team h4{
	font-size: 18px;
	font-weight: 900;
	line-height: 18px;
	margin-top: 13px;
	margin-bottom: 10px;
	color: #666d89;
	white-space: nowrap;
}
.team p{
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 0;
	color: #767e9e;
}
.social{

	height: 32px;
	margin-top: 25px;
}
.social a{
	padding: 15px;
	font-size: 0;
	color: #000;
	border: 1px solid #666d89;
	border-radius: 50%;
	box-sizing: border-box;
}
.social a:not(:last-child){
	margin-right: 8px;
}
.fb{
	background: url('assets/social.png') no-repeat -8px 50%;
}
.google{
	background: url('assets/social.png') no-repeat 35% 50%;
}
.tw{
	background:url('assets/social.png') no-repeat 66% 50%;
}
.li{
	background: url('assets/social.png') no-repeat 98% 50%;
}
.social a:hover{
	filter: brightness(0);
	border-color: #000;
}
.boxes-form{
	height: 528px;
	padding: 60px 40px;
	background: #f06c64;
	color: #f0d8d9;
	border-bottom: 6px solid #ea676b;
	scroll-margin-top: 39px;
}
.boxes-form h3{
	font-size: 30px;
	line-height: 18px;
	font-weight: 900;
	margin-top: 9.5px;
	margin-bottom: 26.5px;
	color: #f0d8d9;
}
.boxes-form p{
	font-size: 18px;
	font-weight: 300px;
	line-height: 30px;
}
.box{
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 630px;
	margin-top: 25px;
}
input{
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	width: 604px;
	height: 36px;
	margin-bottom: 16px;
	padding-left: 15px;
	background-color: #d6564f;
	border:none;
	border-radius: 6px;
}

::-webkit-input-placeholder {color:#f48c8f;}
::-moz-placeholder          {color:#f48c8f;}/* Firefox 19+ */
:-moz-placeholder           {color:#f48c8f;}/* Firefox 18- */
:-ms-input-placeholder      {color:#f48c8f;}

textarea{
	width: 604px;
	height: 190px;
	padding-top: 9px;
	padding-left: 14px;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	background: #d6564f;
	border: none;
	border-radius: 6px;
}
::-webkit-textarea-placeholder {color:#f48c8f;}
::-moz-placeholder          {color:#f48c8f;}/* Firefox 19+ */
:-moz-placeholder           {color:#f48c8f;}/* Firefox 18- */
:-ms-textarea-placeholder      {color:#f48c8f;}

button{
	width: 100px;
	height: 30px;
	margin-top: 10px;
	border:none;
	border-radius: 6px;
	color: #f48c8f;
	background:#d6564f;
	cursor: pointer;
}
button:hover{
	color: #fff;
	background: #d94841;
}
 div.hidden{
	display: none;
}
.modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background:rgba(0,0,0,0.2);
}
.modal-window{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	position: relative;
	width: 400px;
	height: 200px;
	padding: 10px;
	
	color: #000;
	background-color: #ccc;
}
.modal .hidden{
	display: none;
}
.modal-window h6{
	font-size: 24px;
	margin: 0;
	text-align: center;
}
.modal-window button{
	position: absolute;
	bottom: 10px;

}
.contacts{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}
.contacts h4{
		font-size: 18px;
		margin-bottom: 0;
		color: #f0d8d9;
}
.contacts p{
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 9px;
}
.contact{
	margin-top: 8px;
	padding-left: 0px;
}
.contact li{
	list-style: none;
}

.contact a{
	font-size: 11px;
	font-weight: 400;
	line-height: 12px;
	color: #f0d8d9;
	text-decoration: none;
}
.contact a:before{
	content: '';
	font-size: 0;
	margin-right: 7px;
	padding: 9px;
	position: relative;
	bottom: 2px;
}
.contact li:first-child a:before{
	background: url("assets/icons2.png") no-repeat -10px 50%;
}
.contact li:nth-child(2) a:before{
	background: url("assets/icons2.png") no-repeat 90% 50%;
}
.contact li:nth-child(3) a:before{
	background: url("assets/icons2.png") no-repeat 44% 50%;
}
.contact li:hover a:before{
	filter: brightness(0);
}
footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 43px;
	height: 76px;
	background: #2d303a;
}
footer h6{
	font-size: 11px;
	color: #666d89;
}
.social-footer{

	height: 32px;
}
.social-footer a{
	padding: 15px;
	font-size: 0;
	color: #000;
	border: 1px solid #666d89;
	border-radius: 50%;
	box-sizing: border-box;
}
.social-footer a:not(:last-child){
	margin-right: 7px;
}
.fb{
	background: url('assets/social.png') no-repeat -8px 50%;
}
.google{
	background: url('assets/social.png') no-repeat 35% 50%;
}
.tw{
	background:url('assets/social.png') no-repeat 66% 50%;
}
.li{
	background: url('assets/social.png') no-repeat 98% 50%;
}
.social-footer a:hover{
	filter: brightness(0);
	border-color: #000;
}
